{% extends base_template|default:'asso_tn/base_transport_nantes.html' %}
{% load static %}
{% load don %}
{% load newsletter %}
{% block content %}

<div class="container pt-5">
    <div class="row">
	<div class="col-lg-12">
	    <h1>Nous contacter</h1>

	    {% show_one_mailing_list 'my-petition' %}

	    <p>Bientôt il y aura un formulaire de contacte sur cette
		page.  En attendant, les méls marchent très bien.
		<a href="mailto:jevousaide@transport-nantes.com">Contactez-nous</a>.</p>

	</div>
    </div>
</div>
{% endblock %}
